*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.encabezado {
    height: 100px;
    width: 100%;
    background-color: #436f92;
    position: relative;
    display: flex;
    flex-direction: row-reverse ;
    align-items: center;
}
.logo{
    height: 90%;
    justify-content: center;
    margin: 1rem;
    position:absolute;
    left: 0px;
    justify-self: flex-start;
    border-radius: 50%;
}
.nav{
    display: flex;
    font-size: 1.5rem;
    font-weight: lighter;
    align-items: center;
}
.nav li a{
    padding: 2rem;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    color: white;
    text-decoration: none;
}
.nav li:nth-child(5){
    opacity: .6;

}
.nav li{
    width: 100%;
    list-style: none;
}
.nav li a{
    padding: 2rem;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    color: white;
    text-decoration: none;
}
.nav li:hover a{
    color: darkgoldenrod;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 900;
}    
body {
    background-image: url(https://fotos.perfil.com/2019/08/12/aceite-764842.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}
.tituloSimulador { 
    padding: 2rem;
    color: darkgoldenrod;
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: whitesmoke 1px -1px;
}
.boton{
    background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    padding: .6rem;
    margin-top: 1rem;
    color: white;
    font-size: 2rem;
    border: 1px white solid;
    
}
p p{
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    padding: 3rem;
    color: white;
    border: 1px solid white;
    margin: 2rem;
}
.login{
    text-align: end;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    padding: 1rem;
    color: white;
}
.login input{
    height: 2.38rem;
}
.login button{
    background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    border: 1px white solid;
    padding: .35rem;
    font-size: 1rem;
    color: white;
    margin: .5rem;


}
.formulario{
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    align-items: center;
    font-weight: bolder;
    font-size: 1.8rem;
    text-shadow: whitesmoke 2px -1px;
    font-weight: bolder;
    color: #436f92;
    margin-bottom: 2rem;
}
.formulario label{
    font-size: 2.5rem;
    font-weight: 900;
}
.formulario input{
    display: inline-block;
    width: 50%;
    font-family: 'Kanit', sans-serif;
    height: 3rem;
}
select{
    display: inline-block;
    width: 50%;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    height: 3rem;
    margin-top: .7rem;
    text-align: center;
    text-shadow: black 2px -1px;
    font-weight: bolder;
    color: #436f92;
}
h3{
    margin-top: 1rem;
}
#btn{
    display: inline;
    margin-left: 44vw;
}
#btnRango{
    display: inline;
    background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    border: 1px white solid;
    padding: .35rem;
    font-size: 1rem;
    color: white;
    margin: .5rem;
    width: 10%;
}