*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.encabezado {
    height: 100px;
    width: 100%;
    background-color: #436f92;
    position: relative;
    display: flex;
    flex-direction: row-reverse ;
    align-items: center;
}
.logo{
    height: 90%;
    justify-content: center;
    margin: 1rem;
    position:absolute;
    left: 0px;
    justify-self: flex-start;
    border-radius: 50%;
}
.nav{
    display: flex;
    font-size: 1.5rem;
    font-weight: lighter;
    align-items: center;
}
.nav li a{
    padding: 2rem;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    color: white;
    text-decoration: none;
}
.nav li:nth-child(5){
    opacity: .6;

}
.nav li{
    width: 100%;
    list-style: none;
}
.nav li a{
    padding: 2rem;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    color: white;
    text-decoration: none;
}
.nav li:hover a{
    color: darkgoldenrod;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 900;
}    
body {
    background-image: url(https://fotos.perfil.com/2019/08/12/aceite-764842.jpg);
    background-size: cover;
    width: 100%;
    height: auto;

}
#cuerpoAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cuerpoAdmin form{
    margin: 2rem;
    width: 50vw;
}
#cuerpoAdmin input{
    width: 30vw;
}
#formulario{
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    align-items: center;
    font-weight: bolder;
    font-size: 1.8rem;
    text-shadow: whitesmoke 2px -1px;
    font-weight: bolder;
    color: #436f92;
    margin: 4rem;
    margin-top: 1rem;
    padding: 1rem;
    border: whitesmoke 1px solid;
    opacity: .8;
    background-color: rgb(0, 0, 0);
}
#formularioEscondido{
    display: none;
}
.formularioSecu{
    display: flex !important;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    align-items: center;
    font-weight: bolder;
    font-size: 1.8rem;
    text-shadow: whitesmoke 2px -1px;
    font-weight: bolder;
    color: #436f92;
    margin: 3rem;
    padding: 1rem;
    border: whitesmoke 1px solid;
    opacity: .8;
    background-color: rgb(0, 0, 0);
}
body p{
    border: whitesmoke 1px solid;
    opacity: .8;
    background-color: rgb(197, 115, 8);
    margin: 3rem;
}
.boton{
    background-color: #022644;
    font-family: 'Kanit', sans-serif;
    padding: .6rem;
    color: white;
    font-size: 2rem;
    border: 1px white solid;
    display: block;
    margin: auto; 
    margin-bottom: 3rem;  
}
#botonCrear{
    margin: 2rem;
}
.btn{background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    border: 1px white solid;
    padding: .35rem;
    font-size: 1rem;
    color: white;
    margin: .5rem;
}
.btnCarga{background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    border: 1px white solid;
    padding: .35rem;
    font-size: 1rem;
    color: white;
    margin: .5rem;
    width: 120px;
}
.formularioCarga{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formularioCarga input{
    width: 30vw;
    height: 2rem;
}
.tituloSimulador { 
    padding: 2rem;
    color: darkgoldenrod;
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
    text-shadow: whitesmoke 2px -2px;
}
#btnRango{
    display: inline;
    background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    border: 1px white solid;
    padding: .35rem;
    font-size: 1rem;
    color: white;
    margin: .5rem;
    width: 160px;;
}
#formulario input{
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    height: 3rem;
    width: 30vw;
    font-size: 2rem;
    padding: 5px;
}
#formularioEscondido input{
    display: inline-block;
    width: 30vw;
    font-family: 'Kanit', sans-serif;
    height: 3rem;
    font-size: 2rem;
    padding: 5px;
}
option{
    display: inline;
    background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    border: 1px white solid;
    padding: .35rem;
    font-size: 1rem;
    color: white;
    margin: .5rem;
    
}
select{
    display: inline;
    background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    border: 1px white solid;
    padding: .35rem;
    font-size: 1rem;
    color: white;
    margin: .5rem;
    width: 160px;
    text-align: center;
}
p{
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    padding: 3rem;
    color: white;
    border: 1px solid white;
    margin: 2rem;
}
.contenedor{
    background-image: url(./image/bidon-removebg-preview.png);
    background-size:cover;
    color:rgb(245, 229, 7);
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    border: black 1px solid;
    text-shadow: black 2px 2px;
    margin: 1rem;
    width: 200px;
    height: 180px;
    border-radius: 5%;
}
#mensajePantallaRango{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.btnProducto{
    background-color: #436f92;
    font-family: 'Kanit', sans-serif;
    border: 1px white solid;
    padding: .35rem;
    font-size: 1rem;
    color: white;
    margin: .5rem;
}
.btnProducto:hover{
    border:2px white solid ;
    font-size: 1.2rem;
    padding: .4rem;
    background-color: #022644;
}
.mensajePantallaRango2{
    display: none !important; 
}
#productoElegido .contenedor{
    opacity: .8;
    background-size: cover;
    height: 150px;
}
#productoElegido button{
    display: none;
}